@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Form 3</h1>
<form method="post">
    <table>
        <tr>
            <td><label>No1</label></td>
            <td><input type="text" name="n1" value="@ViewBag.n1" required /> </td>
        </tr>
        <tr>
            <td><label>No2</label></td>
            <td><input type="text" name="n2" value="@ViewBag.n2" required /> </td>
        </tr>
        <tr>
            <td><label>No3</label></td>
            <td>
                <select name="n3">
                    @for (int i = 1; i < 31; i++)
                    {
                        <option value="@i">@i</option>  
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="b1" value="Second min" /> </td>
        </tr>
        <tr>
            <td><label>Result</label></td>
            <td ><input type="text" name="n3" value="@ViewBag.r1" readonly /> </td>
        </tr>
    </table>
</form>